*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
body{
	background-color:rgba(0,0,100,0.2); 
}
h1,h2,h3,h4,b{
    color:rgba(0,0,100,0.8);
    font-weight:600;
    font-family: 'gemunu libre', sans-serif;
}
h5,h6{
	color:rgba(0,0,100,0.8);
    font-weight:400;
    font-family: 'gemunu libre', sans-serif;
}
@media screen and (min-width:600px){
	.desktop{
		display:block;
	}
	.mobile{
		display:none;
	}
	.table_links{
		text-decoration:none; 
		color:#ccc;
	}
	.table_links:hover{
		transition: .5s;
		color:#2f3947;
	}
	.my_btn{
		font-size:16px; 
		color:#575757;
		width:20%;
		padding:2%;
		margin-right:2%;
		border:none;
		border-radius:5px;
		background-color: rgba(0,0,0,0.1);
		text-decoration: none;
	}
	.my_btn:hover{
		transition:.5s;
		color:#f0f0f0;
		background-color:rgba(47, 57, 71, 0.8);
		box-shadow: rgba(47, 57, 71, 0.4) 2px 2px 2px 2px;
	}
	/*.red:hover{
		background-color: rgba(100,0,0,0.9);
	}
	.green{

	}*/
	.social_sect{
		overflow: auto;
		height:10vh;
		margin:.5 auto; 
	}
	.social_sect .social{
		display: inline-block;
		padding: 1%;
	}
	.social_sect .category{
		width:20%;
	}
	.social_sect .comment{
		width:20%;
	}
	.social_sect .bottom{
		text-align: right;
	}
	.social_sect .share_sect{
		width:10%;
	}
	.social_sect .icon_sect{
		width:40%;
	}
	.social_sect .icon_sect a{
		font-size: 20px;
		text-decoration: none;
		color:#575757;
	}
	.social_sect .icon_sect a:hover{
		/*transition: .30s;*/
		color:rgba(50,0,100,0.8);
		border-top:2px solid rgba(50,0,100,0.8);
		border-bottom:2px solid rgba(50,0,100,0.8);
		border-radius: 5px;
	}
	body .wrapper{
		width:80%;
		margin: 10% auto;
	}
	body .wrapper form {
		width:40%;
		margin:10% auto;
		padding:2%;
		border-radius:5px;
		background-color: rgba(0,0,0,0.1);
	}
	body .wrapper form a{
		text-decoration: none;
		color:#666;
		font-weight:200;
		font-size: 12px;
	}
	body .wrapper form a:hover{
		transition: .5s;
		padding-bottom:5%;
		border-bottom:5px solid #2f3947; 
		color:#2f3947;
	}
	body .wrapper form .row label{
		font-style:;
		font-family:;
		font-size:16px;
		font-weight:400;
		color:#2f3947;
		margin-left:1.5%; 
	}
	body .wrapper form .row .inner_div{
		margin:3% auto; 
	}
	body .wrapper form .row .inner_div .style_input{
		width:100%;
		padding:2%;
		font-size:14px; 
		font-weight:200;
		color:#666;
		border:none;
		border-radius:5px;
	}
	body .wrapper form .row .inner_div .style_input:hover{
		transition: .5s;
		box-shadow: rgba(0,0,0,0.1) 2px 2px 2px 2px;
	}
	body .wrapper form .btn_div{

	}
	body .wrapper form .btn_div button{
		margin:1% auto;
		padding:1%;
		width:50%;
		color:#575757;
		border:none;
		border-radius:5px;
		background-color: rgba(0,0,0,0.1);
	}
	body .wrapper form .btn_div button:hover{
		transition:.5s;
		color:#f0f0f0;
		background-color:rgba(47, 57, 71, 0.8);
		box-shadow: rgba(47, 57, 71, 0.4) 2px 2px 2px 2px;	
	}
	body .wrapp_all{
		width:100%;
		overflow:auto;
	}
	body .wrapp_all .sidebar{
		float:left;
		width:20%;
		height:100%;
		background-color:#2a2a2a;
		transition: 1s ease;
		position: relative;
		box-shadow: 0px 1px 4px 1px rgba(0 ,0, 0, .3);
	}
	body .wrapp_all .sidebar_small{
		width: 5%;
		box-shadow: 0px 1px 4px 1px rgba(0 ,0, 0, .3);
	}
	/*body .wrapp_all .sidebar_small div .sidebar_div nav .nav_link a span{

	}*/
	body .wrapp_all .sidebar_small div .sidebar_div nav .nav_link a .span_small{
		display: block;
	}
	body .wrapp_all .sidebar_small div .sidebar_div nav .nav_link a .span_big{
		display: none;
	}
	body .wrapp_all .sidebar div .sidebar_div nav .nav_link a .span_small{
		display: none;
	}
	body .wrapp_all .sidebar div .sidebar_div nav .nav_link a .span_big{
		display: block;
	}
	@media screen and(width:){

	}
	body .wrapp_all .sidebar div .brand{
		padding: 5%;
		overflow: auto;
		width:100%;
		padding:.5rem;
		background-color:#2a2a2a;
	}
	body .wrapp_all .sidebar div .brand p{
		color: #fafafa;
		text-align: center;
		margin: 1rem auto;
	}
	body .wrapp_all .sidebar div .sidebar_div nav{
		box-shadow: 0px 1px 4px 1px rgba(0 ,0, 0, .3);
	}
	body .wrapp_all .sidebar div .sidebar_div nav .nav_links {
		display: block;
	}
	body .wrapp_all .sidebar div .sidebar_div nav .nav_links a{
		text-decoration: none;
		color:#ccc;
		font-weight:100;
		display:block;
		padding:1rem;
		background-color:rgba(42, 42, 42, 0.8);
		box-shadow: 0px 1px 4px #2a2a2a;
	}
	body .wrapp_all .sidebar div .sidebar_div nav .nav_links a:hover{
		transition:.5s;
		border-radius: 5px;
		color:#f0f0f0;
		padding:1rem;
		font-weight:400;
		box-shadow: 0px 1px 4px #2a2a2a;
		background-color:rgba(100, 100, 100, 0.5);
	}
	body .wrapp_all .body_wrapper{
		float:right;
		width:80%;
		transition: 1s ease;
		background-color: rgb(150, 122, 220, 0.5);
	}
	body .wrapp_all .body_wrapper_large{
		width: 95%;
	}
	/*body .wrapp_all .body_wrapper .common{
		display: block;
	}*/
	body .wrapp_all .body_wrapper #ad_nav{
		background-color:#2a2a2a;
		padding: 1%;
	}
	body .wrapp_all .body_wrapper #ad_nav .sub_sect{
		display:inline-block;
	}
	body .wrapp_all .body_wrapper #ad_nav .nav_side_toggle{
		width:10%;
	}
	body .wrapp_all .body_wrapper #ad_nav .nav_side_toggle .side_toggle_btn{
		font-size:16px; 
		color:#ccc;
		padding:5%;
		border:none;
		border-radius:5px;
		background-color: rgba(0,0,0,0.1);
	}
	body .wrapp_all .body_wrapper #ad_nav .nav_side_toggle .side_toggle_btn:hover{
		transition:.5s;
		color:#f0f0f0;
		background-color:rgba(0, 0, 100, 0.5);
		box-shadow: rgba(0, 0, 100, 0.4) 2px 2px 2px 2px;
	}
	body .wrapp_all .body_wrapper #ad_nav .one{
		width:15%;
	}
	body .wrapp_all .body_wrapper #ad_nav .two{
		width:45%;
	}
	body .wrapp_all .body_wrapper #ad_nav .two form{
		width:100%;
	}
	body .wrapp_all .body_wrapper #ad_nav .two form .search_box{
		display:inline-block;
	}
	body .wrapp_all .body_wrapper #ad_nav .two form .input_field{
		width:70%;
		font-size:16px;
		padding:1%;
		border:none;
		border-radius:5px;
	}
	body .wrapp_all .body_wrapper #ad_nav .two form .search_btn{
		width:28%;
		font-size:16px; 
		color:#ccc;
		padding:1%;
		border:none;
		border-radius:5px;
		background-color: rgba(0,0,0,0.1);
	}
	body .wrapp_all .body_wrapper #ad_nav .two form .input_field:hover{
		box-shadow: rgba(0,0,0,0.1) 2px 2px 2px 2px;
	}
	body .wrapp_all .body_wrapper #ad_nav .two form .search_btn:hover{
		transition:.5s;
		color:#f0f0f0;
		background-color:rgba(0, 0, 100, 0.5);
		box-shadow: rgba(0, 0, 100, 0.4) 2px 2px 2px 2px;
	}
	body .wrapp_all .body_wrapper #ad_nav .three{
		width:20%;
	}
	body .wrapp_all .body_wrapper #ad_nav .three a{
		text-decoration: none;
		color:#ccc;
		margin-left:.5%;
		margin-right:.5%;
		font-weight:100;
	}
	body .wrapp_all .body_wrapper #ad_nav .three a:hover{
		transition:.5s;
		color:#f0f0f0;
		background-color: rgba(0,0,0,0.1);
		border-bottom:3px solid #575757;
		padding:8%;
		font-weight:400;
	}
	body .wrapp_all .body_wrapper .main_panel{
		width:100%;
		padding:2%;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper{
		border-radius:5px; 
		padding: 1%;
		background-color:;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body{
		padding:1%; 
		border-radius:5px;
		background-color:rgba(0,0,0,0.3); 
		margin-bottom:1%; 
		width: 100%;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .sect{
		display: block;
		width: 100%;
		background-color:#2a2a2a;
		margin-bottom:1rem;
		padding: 1rem; 
		border-radius: 5px;
		text-decoration: none;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .sect div{
		display: inline-block;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .sect div a{
		text-decoration: none;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .sect div a .sub_sect{
		background-color:rgba(100,100,100,0.5);
		padding: 1rem; 
		border-radius: 5px;
		color:white;
		width: 100%;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .sect div a .sub_sect:hover{
		background-color:rgba(100,100,100,0.8);
		color: #ccc;
		padding: 1rem; 
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .sect .sub_sect{
		background-color:rgba(100,100,100,0.5);
		padding: 1rem; 
		border-radius: 5px;
		color:white;
		width: 100%;
		margin-top:1rem; 
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .sect .sub_sect table tbody tr td{
		color: #fafafa;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .sect div a .sub_sect b{
		align-items: right;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .sect_one div{
		display: inline-block;
		width:24.5%;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .sect_two div {
		display: inline-block;
		width:49.5%;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .sect_three div{
		display: inline-block;
		width:100%;
	}
	body .wrapp .content #profile_page{
		background-color:rgba(0,0,0,0.1);
		margin: 5%;
		padding: 5%;
		border-radius: 10px;
	}
	body .wrapp .content #profile_page #user_contain{
        margin:1% auto;
        overflow: auto;
        width:100%;
    }
    body .wrapp .content #profile_page #user_contain .user_page{
        padding:1%;
        display:inline-block;
    }
    body .wrapp .content #profile_page #user_contain .user_img{
        padding:1%;
        width:40%;
        float:left;
    }
    body .wrapp .content #profile_page #user_contain .user_img img{
        box-sizing: border-box;
    }
    body .wrapp .content #profile_page #user_contain .user_data{
        padding:1%;
        width:60%;
    }
    /*body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body{
    	padding:1%; 
		border-radius:5px;
		background-color:rgba(0,0,0,0.3); 
		margin-bottom:1%; 
    }*/
    body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card img{
    	width:100%;
    	height:662px;
    }
    body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body table tbody tr td{
    	text-decoration: none;
    	color:#000;
    	font-family: Courier new, monospace;
    }
    body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body table tbody tr td a{
    	text-decoration: none;
    	color:#000;
    	font-family: Courier new, monospace;
    }
    body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body table tbody tr td a:hover{
    	text-decoration: underline;
    	color:#575757;
    }
	body .wrapp_all .body_wrapper footer{
		padding: 2%;
		background-color:rgba(0,0,100,0.1);
		overflow: auto;
	}
	body .wrapp_all .body_wrapper footer .main{
		text-align: center;
		width:100%;
		font-weight:200;
		font-size:15px; 
	}
	body .wrapp_all .body_wrapper footer .main p{
		
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card{
		background-color: #2a2a2a;
		color: #212529;
		padding: 1rem;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .tab{
		background-color:rgba(100,100,100,0.5);
		border-radius: 5px;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .tab thead tr th{
		color: #212529;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .tab tbody tr{
		border:none;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .tab tbody tr td{
		color: #fafafa;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .tab tbody tr td a{
		text-decoration:none;
		color: #fafafa;
	}	
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .editor_form{
		background-color: rgba(100, 100, 100, 0.8);
		padding: 2rem;
		border-radius:5px;
	}	
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .editor_form .editor_title{
		border-bottom: 1px solid #ccc;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .editor_form .form_div{
		padding: 1rem;
		width:100%;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .editor_form .form_div label{
		font-size: 18px;
		font-weight: 600;
		color:#2a2a2a;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .editor_form .form_div .sub_divs{
		width:49.5%;
		display: inline-block;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .editor_form .form_div .sub_divs label{
		font-size: 18px;
		font-weight: 600;
		color:#2a2a2a;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .editor_form .form_div .select_div .sub_form{
		width:100%;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .editor_form .form_div .select_div .sub_form select{
		width:100%;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .editor_form .form_div .select_div .sub_form input{
		width:100%;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .editor_form .form_div .select_div .sub_form textarea{
		width:100%;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .img_div{
		width:100%;
		padding: 1rem;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .img_div img{
		width:100%;
		height:662px;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .card-body{
		background-color: #2a2a2a;
		color: #fafafa;
		padding: 1rem;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .card-body .title_div{
		background-color: rgba(100, 100, 100, 0.8);
		padding: 2rem;
		border-radius:5px;
		margin-bottom: 1rem;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .card-body .title_div h4{
		font-weight: 600;
		font-size: 20px;
		font-family: 'gemunu libre', sans-serif;	
		color:rgb(0,0,100);
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .card-body p{
		font-weight: 100;
		font-size: 16px;
		font-family: 'gemunu libre', sans-serif;
		text-align: justify;
		text-justify:inter-word;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .slider{
		padding:1rem;
		background-color: rgba(100, 100, 100, 0.5);
		border-radius: 10px;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .slider_input{
		margin-bottom:1rem;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .slider_input form{

	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .slider_input form .form_div{
		padding:1rem;
		margin-bottom:0.5px; 
		border-radius: 5px;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .slider_input form .form_div label{
		font-size: 18px;
		font-weight: 600;
		color:#ccc;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .slider_input form .form_div button{
		margin: 1rem auto;
		padding:1rem; 
		width:20%;
		border-radius: 5px;
		color: #fafafa;
		border:none;
		background-color: rgba(0,0,100,0.8);
		font-size: 18px;
		font-weight: 600;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .slider_input form .form_div button:hover{
		background-color:rgba(0,0,0,0.5);
		transition: .5s;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .slider_table table tr td{
		color:#ccc;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .subscriber_table{
		background-color:rgba(100, 100, 100,0.5);
		border-radius:10px;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .subscriber_table table tr td{
		padding: 1rem;
	}
	body .wrapp_all .body_wrapper .main_panel .content_wrapper .content_body .card .subscriber_table table tr td a{
		color:#fafafa;
	}
}
@media screen and (max-width:200px){
	.desktop{
		display:none;
	}
	.mobile{
		display:block;
	}
}